.container {
    height: calc(100vh - 100px);
    display: flex;
}
.left {
    flex:1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right {
    flex: 1;
    padding: 20px;
}
.imgContainer{
    
    width: 60%;
    height: 80%;
    position: relative;
    border: solid white 3px;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.desc{
    font-size: larger;
}
.price{
    color: #d1411e;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid #d1411e;
}
.sizes{
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.size{
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
}
.number{
    position:absolute;
    top: -5px;
    right: -20px;
    background-color: teal;
    color: white;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 10px;
}
.quantity{
    width: 50px;
    height: 30px;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
.button{
    height: 30px;
    margin-left: 10px;
    background-color: #d1411e;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}


@media screen and (max-width: 480px) {
    .container{
        height: auto;
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .imgContainer{
        width: 70vw;
        height: 70vw;
    }
    .title{
        margin: 5px;
    }
    .sizes{
        width: 100%;
        padding: 0px 20px;
    }
    .quantity, .button{
        height: 50px;
        padding: 10px;
    }
    
}
